/** @format */

body {
	display: flex;
	height: 100vh;
	align-items: center;
	justify-content: center;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
    display: block;
    text-decoration: none;
    
}
/* main container  */
.container {
	display: flex;
	align-items: center;
	flex-direction: row-reverse;
}

/* overflow  */
.item-container {
	overflow: hidden;
    position: relative;
    transition: all .5s ease-in-out;
}
.phone {
    left: 215px;
}

.flex_container {
	display: flex;
	align-items: center;
    position: relative;
    left: calc(100% - 50px);
    transition: all .5s ease-in-out;
}

.img-container {
	width: 50px;
	height: 50px;
	background-color: black;
	padding: 10px;
}
.img-container img {
	width: 100%;
}

.item-container span {
	background-color: black;
	color: wheat;
	display: inline-block;
	height: 50px;
	display: flex;
	align-items: center;
	padding: 0 10px;
}

.item-container:hover .flex_container{
    left: 0;
} 

div.mail:hover~div.phone{
    left: 0;
}

 /* a:hover .link_img,  a:hover span, a.mail:hover~a.mobile {
    transform: translateX(0);
} */

/*
.black_container {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    
}


.container a.mobile {
   z-index: 1; 
    transform: translateX(120px);
}

.container a.mobile {
   
    width: 170px;
    position: relative;
    text-decoration: none;
    overflow: hidden;
    transition: all .5s ease-in-out;
    
    cursor: pointer;
    outline: 0;
}
.container a.mail {
    display: block;
    width: 270px;
    position: relative;
    
    overflow: hidden;
    transition: all .5s ease-in-out;
    
    cursor: pointer;
    outline: 0;
}

.mail .link_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: black;
    transform: translateX(220px);
    transition: all .5s ease-in-out;
}
.mobile .link_img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: black;
    transform: translateX(120px);
    transition: all .5s ease-in-out;
}

.link_img img {
    width: 60%;
    height: auto;
}

.container a span{
    position: absolute;
    left: 50px;
    top: 0;
    width: 120px;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: white;
    background-color: black;
    transform: translateX(120px);
    transition: all .5s ease-in-out;

}

 a:hover .link_img,  a:hover span, a.mail:hover~a.mobile {
    transform: translateX(0);
}


 */
